#plugin_feedbacks_container {
	border: solid 1px #ccc;
	padding: 5px;
	border-radius: 4px;
}

#plugin_feedbacks_boxes label,
#plugin_feedbacks_boxes div,
#plugin_feedbacks_boxes {
	display: inline;
}
#plugin_feedbacks_boxes input {
	/*text-indent: -10000px;*/
	position: absolute;
	left: -1000000000px;
}

#plugin_feedbacks_boxes label {
	margin: 0px 5px;
	cursor: pointer;
}

#plugin_feedbacks_container textarea {
	height: 100px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	width: 100%;
	
}

